<!-- Footer: Start -->
<footer class="landing-footer bg-body footer-text">
	<div class="footer-bottom py-3">
		<div class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
			<div class="mb-2 mb-md-0">
				<span class="footer-text">
					©
					<script>
						document.write(new Date().getFullYear());

					</script>
				</span>
				<a href='@TempData.Peek("authorUrl")' target="_blank" class="fw-medium text-white footer-link">@TempData.Peek("authorName"),</a>
				<span class="footer-text"> Made with ❤️.</span>
			</div>
			<div>
				<a href='@TempData.Peek("githubFreeUrl")' class="footer-link me-3" target="_blank">
					<img src="~/img/front-pages/icons/github-light.png" alt="github icon" data-app-light-img="front-pages/icons/github-light.png" data-app-dark-img="front-pages/icons/github-dark.png" />
				</a>
				<a href='@TempData.Peek("facebookUrl")' class="footer-link me-3" target="_blank">
					<img src="~/img/front-pages/icons/facebook-light.png" alt="facebook icon" data-app-light-img="front-pages/icons/facebook-light.png" data-app-dark-img="front-pages/icons/facebook-dark.png" />
				</a>
				@* <a href='@TempData.Peek("twitterUrl")' class="footer-link me-3" target="_blank"> *@
				@* 	<img src="~/img/front-pages/icons/twitter-light.png" alt="twitter icon" data-app-light-img="front-pages/icons/twitter-light.png" data-app-dark-img="front-pages/icons/twitter-dark.png" /> *@
				@* </a> *@
				<a href='@TempData.Peek("instagramUrl")' class="footer-link" target="_blank">
					<img src="~/img/front-pages/icons/instagram-light.png" alt="google icon" data-app-light-img="front-pages/icons/instagram-light.png" data-app-dark-img="front-pages/icons/instagram-dark.png" />
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- Footer: End -->
